@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*  CORPO  */
div#corpo{
    min-width: 320px;
    max-width: 1000px;
    height: 100%;
    background-color: white;
    margin: auto;
    background-image: url('../images/background-p.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
}
body{
    background-color: gray;
}

/*  HEADER AND NAVEGATION  */
header {
    width: 100%;
    height: 100px;
    background-color: green;
    position: relative;
    background-image: url('../images/cab-fundo.png');
}
nav {
    position: relative;
    max-width: 100%;
    height: 35px;
    background-color: rgb(159, 233, 159);
}
#navegation {
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: white;
}



/*  WELCOME TEXT */



#description{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 700px;
}
h3{
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.container-discription {
    background-color: rgb(0,0,0,0.5);
    color: white;
    max-width: 400px;
    height: 455px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20%;
}

.discription-i {
    font-family: 'Comic Neue', cursive;
    color: white;
    text-shadow: 9px 9px 9px black;
    font-size: 12pt;
}

/*  FOOTER */


#rodape {
    position: relative;
    width: 100%px;
    height: 120px;
    background-color: brown;
    background-image: url('../images/foot-fund.png');
}
.footer-d {
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    margin: 0px;
    
}

/* RESPONSIVE FOR 425*/
@media (max-width: 425px) {
    *{
        max-width: 425px;
        padding: 0;
    }

    /* HEADER */

    header {
        width: 100%;
        height: 100px;
        background-color: green;
        position: relative;
        background-image: url('../images/cab-fundo4.png');
    }
}


/* RESPONSIVE FOR 375*/


@media (max-width: 375px) {

    /* HEADER */

    header {
        width: 100%;
        height: 100px;
        background-color: green;
        position: relative;
        background-image: url('../images/cab-fundo3.png');
    }

    /* NAVEGATION */
    nav{
        font-size: 11pt;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }
    
    /* CONTAINER DESCRIPTION BLOCK*/
    
    #description{
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 5%;
            margin-left: 10px;
            margin-right: 10px;
            height: 700px;

}
.container-discription {
    background-color: rgb(0,0,0,0.5);
    color: white;
    max-width: 400px;
    height: 500px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20%;
}
}

/* RESPONSIVE FOR 320*/

@media (max-width: 320px) {
    /* HEADER */

    header {
        width: 100%;
        height: 100px;
        background-color: green;
        position: relative;
        background-image: url('../images/cab-fund2.png');
    }

    /* NAVEGATION */
    nav{
        font-size: 11pt;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    
    /* CONTAINER DESCRIPTION BLOCK*/
    
.container-discription {
    background-color: rgb(0,0,0,0.5);
    color: white;
    max-width: 400px;
    height: 500px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20%;
}
}
