@media (max-width: 550px) {

    nav{
        font-size: 10pt
    }
    #welcome {
        position: absolute;
        left: -5%;
        top: 14%;
        transition: (-50%,-50%);
    
    }
    .container-discription {
        background-color: white;
        width: 380px;
        max-width: 480px;
        height: 500px;
        padding: 10px;
        position: relative;
        background-image: url('../images/welcome-f.png');
        box-sizing: border-box;
        border-radius: 20%;
        text-align: center;
        top: 18%;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
div#corpo{
    min-width: 420px;
    max-width: 1000px;
    height: 1000px;
    background-color: white;
    margin: auto;
    background-image: url('../images/background-p.png');
    box-sizing: border-box;
    background-repeat: no-repeat;
}
body{
    background-color: gray;
}
header {
    width: 100%;
    height: 100px;
    background-color: green;
    position: relative;
    background-image: url('../images/cab-fundo.png');
}
nav {
    position: relative;
    max-width: 100%;
    height: 35px;
    background-color: rgb(159, 233, 159);
    top: -16px;
    
}
#navegation {
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    padding-top: 8px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
a:hover{
    color: white;
}
#welcome {
    padding-left: 110px;

}
#description {
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    font-weight: bold;
    height: 717px;
}
.container-discription {
    background-color: white;
    min-width: 100px;
    max-width: 480px;
    height: 500px;
    padding: 10px;
    position: relative;
    background-image: url('../images/welcome-f.png');
    box-sizing: border-box;
    border-radius: 20%;
    text-align: center;
    position: absolute;
}
h3{
    position: relative;
    top: 5%;
}
.discription-i {
    font-family: 'Comic Neue', cursive;
    color: rgb(0, 0, 0);
    text-shadow: 9px 9px 9px black;
    font-size: 12pt;
    position: relative;
    top: 3%;
}
#rodape {
    position: relative;
    width: 100%px;
    height: 120px;
    background-color: brown;
    background-image: url('../images/foot-fund.png');
}
.footer-d {
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    margin: 0px;
    
}


