@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
iframe{
    width: 640px;
    height: 360px;
}
body{
    background-color: gray;
}
header {
    width: 100%;
    height: 100px;
    background-color: green;
    position: relative;
    background-image: url('../images/cab-fundo.png');
}
/*  FUNDO */
#content-background{
    min-width: 320px;
    max-width: 1000px;
    height: 100%;
    background-color: whitesmoke;
    margin: auto;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
/*  NAVEGATION */
nav {
    position: relative;
    max-width: 100%;
    height: 35px;
    background-color: rgb(159, 233, 159);
}
#navegation {
    justify-content: center;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 8px;
}
.navLinks{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}
.navLinks:hover{
    color: white;
}

/*  SEC-CONT  */

#sec-cont{
    position: block;
    max-width: 100%;
    padding-left: 5px;
}

.sec-content{
    padding-left: 25px;
}
#video-position{
    display: flex;
    justify-content: center;
}
.format-p{
    padding-top: 20px;
    font-size: 11pt;
}
.format-p-s{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    font-size: 11pt;
}
#tittle1{
    padding-left: 10px;
    color: black;
    font-size: 14pt;
    font-weight: bold;
}


/*  FOOTER-CONT  */


#rodape {
    position: block;
    width: 100%px;
    height: 120px;
    background-color: brown;
    background-image: url('../images/foot-fund.png');

}
.footer-d {
    font-size: 12pt;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    margin: 0px;
    
}


/*  RESPONSIVE FOR 425*/
@media (max-width: 425px) { 
    
    .text-link{
        padding-bottom: 35px;
        font-size: 12pt;
        font-weight: bold;
    }
}


/* RESPONSIVE FOR 375*/
@media (max-width: 375px) {
    /* HEADER */
    header {
        background-image: url('../images/cab-fundo3.png');
    }
    nav{
        font-size: 11pt;
    }
}

/* RESPONSIVE FOR 320*/
@media (max-width: 320px) {
    /* HEADER */
    header {
        background-image: url('../images/cab-fund2.png');
    }
}
